@model OfficeRoomie.DTO.LoginDto
@{
    Layout = "/Views/Layouts/_Authentication.cshtml";
    ViewData["Title"] = "Login";
}

<div class="w-full min-h-[calc(100vh-100px)] flex flex-col justify-center items-center p-5">
    <form class="w-[300px] flex flex-col gap-4" method="post" action="/auth/login">
        <!-- Exibe todos os erros do ModelState -->
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div class="w-full p-4 rounded border border-red-800 text-red-800 bg-red-400">
                @Html.ValidationSummary(false, "", new { @class = "text-red-800" })
            </div>
        }

        <!-- Campo de email persistente -->
        <input class="border rounded h-[40px] px-4" required type="email" placeholder="Email" name="email"
            value="@Model?.email" />

        <!-- Campo de senha -->
        <input class="border rounded h-[40px] px-4" required type="password" placeholder="Senha" name="password" />

        <button class="w-full h-[40px] bg-blue-400 cursor-pointer text-white rounded" type="submit">ENTRAR</button>
    </form>
</div>