<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OfficeRoomie</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="~/js/site.js"></script>
</head>

<body>
    <header class="w-full h-[50px]">
        Authentication page
    </header>

    <main role="main" class="container mx-auto">
        @RenderBody()
    </main>

    <footer class="w-full h-[50px]">
        <p>&copy; 2024 - Meu Aplicativo</p>
    </footer>
</body>

</html>