<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OfficeRoomie</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.0.0/iconify.min.js"></script>
</head>

<body>
    <div class="w-full min-h-screen pl-[300px] relative">
        <aside class="w-[300px] min-h-screen fixed top-0 left-0 bg-slate-950 text-white">
            <div class="w-full h-[50px]">ASIDE HEADER</div>

            <div class="w-full h-[calc(100vh-100px)] overflow-y-auto">
                <ul>
                    <li><a href="">ASIDE LINK</a></li>
                    <li><a href="">ASIDE LINK</a></li>
                    <li><a href="">ASIDE LINK</a></li>
                    <li><a href="">ASIDE LINK</a></li>
                </ul>
            </div>

            <div class="w-full h-[50px]"></div>
        </aside>

        <main role="main">
            <header class="w-full h-[50px] border-b px-4 flex justify-between gap-4 items-center">
                <h1 class="font-bold uppercase">OfficeRoomie</h1>

                <div class="flex gap-2 items-center">
                    <span class="text-sm">Olá, @User?.Identity?.Name</span>
                    <a href="" title="Logout">
                        <span class="iconify" data-icon="ic:baseline-login" data-inline="false"></span>
                    </a>
                </div>
            </header>

            <section class="w-full min-h-[calc(100vh-100px)] p-4">
                @RenderBody()
            </section>

            <footer class="w-full h-[50px] border-t px-4 flex items-center">
                <p class="text-sm">&copy; 2024 - OfficeRoomie</p>
            </footer>
        </main>
    </div>
</body>

</html>