<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OfficeRoomie</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="~/js/site.js"></script>
</head>

<body>
    <header>
        <nav class="bg-blue-400">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Clientes">Clientes</a></li>
                <li><a href="/Sobre">Sobre</a></li>
                <!-- Adicione mais links conforme necessário -->
            </ul>
        </nav>
    </header>

    <main role="main" class="container">
        @RenderBody() <!-- Aqui o conteúdo das páginas será renderizado -->
    </main>

    <footer>
        <p>&copy; 2024 - Meu Aplicativo</p>
    </footer>
</body>

</html>